{% extends "main_layout.html.twig" %}
{% block content %}
<div class="col-xs-10 col-xs-offset-1 text-justified">
    <section>
        <div class="row regular-content-size">
            <div class="col-xs-12">
                <h2 class="center bottom-plus new-header">{{ content.name }}</h2>
            </div>
        </div>
        <div class="row regular-content-size">
            <div align="center" class="col-xs-12">
                <h2>{{ ez_render_field(content, 'photo', {'parameters': {'width': '50%', 'height': '50%'}}) }}</h2>
            </div>
        </div>
        <div class="row regular-content-size">
            <div class="col-xs-12">
                <p>{{ ez_render_field(content, 'content') }}</p>
            </div>
        </div>
        <div class="row regular-content-size">
            <div class="col-xs-12">
                <p>{{ ez_render_field(content, 'date') }}</p>
            </div>
        </div>
    </section>
</div>
{% endblock %}